:root {
  --light-theme-color-bg: white;
  --light-theme-color-txt: black;
  --light-theme-color-lines: gray;

  --dark-theme-color-bg: black;
  --dark-theme-color-txt: white;
  --dark-theme-color-lines: gray:
}

.light-theme {
  --color-bg: var(--light-theme-color-bg);
  --color-txt: var(--light-theme-color-txt);
  --color-lines: var(--light-theme-color-lines);
}

.dark-theme {
  --color-bg: var(--dark-theme-color-bg);
  --color-txt: var(--dark-theme-color-txt);
  --color-lines: var(--dark-theme-color-lines);
}